<main class="vh-100 bg-test">
  <div class="container-fluid onboard-overlay vh-100 text-white">
    <div class="row">
      <div class="p-md-5 p-3">
        <div class="container p-0 text-center">
          <div class="p-md-5 d-flex justify-content-center align-items-center">
            <div class="col-md-10 col-12 onboard-card">
              <p class="fs-4">Welcome to the</p>
              <h2 class="main-text text-white fw-bold">
                ByteWorks Developer Onboarding <br />
                <span class="h1">Program!</span>
              </h2>
              <!--<div class="mt-5">
                <button
                  class="btn btn-primary my-5 fw-bold btn-lg px-5"
                >
                  Get Started
                </button>
              </div>-->
            </div>
          </div>
          <!-- <p>Copyrights 2021. All Rights Reserved.</p> -->
        </div>
      </div>
    </div>
  </div>
</main>
