<div class="container wrapper">
<div class="row">
<div class="col-lg-4 order-1">
<h5 class="">Add your contact information</h5>
<div class="mb-3 mt-5">
    <label for="cname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="cname" placeholder="Enter First Name">
</div>
  <div class="mb-3">
    <label for="name" class="form-label required">Middle Name</label>
    <input type="text" id="name" class="form-control" placeholder="Enter Middle Name">
  </div>
<div class="mb-3">
    <label for="name" class="form-label required">Last Name</label>
    <input type="text" id="name" class="form-control" placeholder="Enter Last Name">
</div>
  <div class="mb-3">
    <label for="name" class="form-label required">Email Address</label>
    <input type="text" id="name" class="form-control" placeholder="Enter Email Address">
  </div>
<div class="mb-3">
    <label for="phone" class="form-label required">Phone Number</label>
    <div class="input-group">
        <span class="input-group-text text-muted bg-transparent" id="phone">+234</span>
        <input type="text" id="name" class="form-control" placeholder="91345680">
    </div>
</div>
<div>
    <button class="btn" routerLink="/job-description">Continue</button>
</div>


</div>


  <div class="right-hero">

    <div class="job-heading">
      <div class="job-title">
        <h2>yea</h2>
        <div class="right-wrapper">
          <div class="recommendations-card">
            <div class="heading">
              <div class="title">
                <a href="'/select-event'">
                  <h3>ZAZU Restaurant Opening</h3>
                </a>
                <p>Lagos</p>
              </div>
              <div class="description">
                <p>Come wine and dine at the new ZAZU Restaurant. We look forward to having you. Kindly secure your reservation for this event.
                  14/02/2023 - 16/02/2023  4pm ZAZU Opposite Dansi Hotel</p>
              </div>
            </div>
            <!--        <p>{{this.singleEventData?.startDate | date: 'd, MMM, y, h:mm a'}} - {{this.singleEventData?.endDate | date : 'd, MMM, y'}} <span class="fa fa-clock-o">{{this.singleEventData?.endDate | date : ' h:mm a'}}</span></p>-->

            <!--                <p>LurisByteRM . 55 applicants . <span>15 hours ago</span></p>-->
          </div>

          <!--            <p class="duration"><img src="Clock.svg" alt=""> Full-time</p>-->

          <form action="eventlisting4.html">
            <button type="submit">Book Now</button>
          </form>
        </div>

        <div class="event-description">
          <h3>Event Description</h3>
</div>
</div>
    </div></div></div></div>

