

<div class="container wrapper">
  <div class="row">
    <div class="col-lg-4 order-1">
      <h5 class="">Add a passport photograph and supporting documents information</h5>
        <label class="form-label">Maximum number of uploads is five. We only accept pdf, jpg, png and pmb formats</label>

      <div class="mb-3">
        <label for="phone" class="form-label required">Choose a file</label>
        <div class="input-group">
          <span class="input-group-text text-muted bg-transparent" id="phone">choose a file</span>
          <input type="text" id="name" class="form-control" placeholder="No file chosen">
        </div>
          <div class="mb-3">
            <label for="name" class="form-label required"></label>
            <input type="text" id="name" class="form-control">
          </div>
        </div>
      </div>



      <div>
        <button class="btn" routerLink="/select-event">Continue</button>
      </div>
    </div>
  </div>



